<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.chaMapper">
	<select id="getPw" parameterType="String" resultType="String">
		select pw from cha_user where id=#{id}
	</select>
	 <select id="getSchedule" parameterType="model.DateToday" resultType="model.Schedule">
		select * from cha_schedule where id=#{id} 
		AND schedule_date BETWEEN #{startOfWeek} AND #{endOfWeek}
	</select> 
	
	<!-- <select id="getSchedule" parameterType="String" resultType="model.Schedule">
		select * from cha_schedule where id=#{id} 
	</select>  -->
	
	<select id="getScheduleNum" resultType="Integer">
	select max(schedule_id) from cha_schedule
	</select>
	<insert id="inputSchedule" parameterType="model.Schedule">
		insert into cha_schedule 
		  values(#{schedule_id},#{id},#{schedule_name},#{schedule_date},
		  #{schedule_start},#{schedule_end})
	</insert>
	<select id="findSchedule" parameterType="Integer" resultType="model.Schedule">
		select * from cha_schedule where schedule_id=#{schedule_id}
	</select>
	<update id="modifySchedule" parameterType="model.Schedule">
		update cha_schedule set schedule_name = #{schedule_name} , schedule_date=#{schedule_date},
		schedule_start=#{schedule_start},schedule_end=#{schedule_end} where schedule_id=#{schedule_id}
	</update>
	
	<delete id="deleteSchedule" parameterType="Integer">
		delete from cha_schedule where schedule_id = #{schedule_id}
	</delete>
</mapper>
